<div id="hamburger-button" class="fixed top-7 right-2 flex flex-col items-end gap-1 px-4 cursor-pointer group z-[7] transition-transform duration-300 lg:hidden">
    <div class="w-[27px] h-[3px] right-0 rounded-sm bg-text group-hover:bg-primaryHover transition-all duration-300 ease-out"></div>
    <div class="w-[22px] h-[3px] right-0 rounded-sm bg-text group-hover:bg-primaryHover transition-all duration-300 ease-out"></div>
    <div class="w-[17px] h-[3px] right-0 rounded-sm bg-text group-hover:bg-primaryHover transition-all duration-300 ease-out"></div>
</div>
