---
import HeaderNav from "../Header/components/HeaderNav.astro";
---

<div id="side-menu" class="fixed top-0 right-0 h-full w-[50%] bg-sideMenu shadow-lg transform translate-x-full transition-transform duration-300 z-[6]">
    <div class="p-4 mt-[250px]">
        <HeaderNav/>
    </div>
</div>
