---
import Socials from "../Socials/Socials.astro";
---

<section id="home" class="items-center placeholder:w-screen min-h-[100vh] pt-[20vh] pb-[200px] lg:grid lg:grid-cols-1">
    <div class="mx-12 md:mx-[15%] lg:mx-[22%]">
        <h1 class="flex flex-col w-screen text-[30px] font-bold sm:text-[40px] md:text-[48px] lg:text-[57px] xl:text-[61px] 2xl:text-[65px]">
            Fabián Rivero.
            <strong class="text-text">Desarrollador Full Stack</strong>
        </h1>
    
        <p class="w-[93%] my-10 text-lg sm:text-[22px] md:text-[21px] md:w-[85%] lg:w-[90%] xl:w-[100%] 2xl:text-[25px]">
            Soy un desarrollador Full Stack con experiencia en la creación de aplicaciones web modernas y escalables. 
        </p>
    
        <div class="relative inline-block group">
            <div class="absolute inset-0 border border-primaryHover rounded-md"></div>
            <a href="mailto:fabianriverodev@gmail.com" target="_blank"
                class="relative z-[1]
                       inline-block 
                       bg-background
                       py-3 px-4 
                       text-[12px] 
                       border-solid 
                       border-primary
                       border-2 
                       rounded-md
                       transition-all duration-300 ease-out
                       hover:-translate-y-1 hover:-translate-x-1 hover:shadow-lg hover:bg-primaryHover
                       active:translate-y-0 active:translate-x-0 active:shadow-none active:bg-primary
                       sm:text-[15px]
                       "
                        

            >
                Contáctame
            </a>
        </div>
    </div>

    <div class="lg:hidden">
    <Socials />
    </div>
    
</section>