---
---

<div
  id="cursor"
  class="fixed top-[2px] left-[2px] w-[0.1px] h-[0.1px] z-10"
></div>

<style>
  #cursor::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0) 80%);
    pointer-events: none;
  }
</style>

<script>
    const cursor = document.getElementById("cursor");
  
    document.addEventListener("mousemove", (e) => {
      cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`;
    });
  </script>