---
import Technologies from "../Technologies/Technologies.astro";
---

<section id="about" class="flex flex-col items-center gap-6 min-h-[100vh] w-screen px-5 lg:px-[180px] xl:px-[180px] 2xl:px-[210px]">
    <h2 class="text-[32px] font-bold self-start xl:text-[35px]">Sobre mí</h2>

    <img src="foto.webp" alt="My photo" class="h-[180px] rounded-full self-center mt-7 md:h-[200px] lg:h-[300px] xl:h-[320px]"/>

    <div class="flex flex-col gap-2 text-[14px] p-2 mx-3 
    sm:text-[15px] sm:mx-5 md:mx-16 lg:text-[18px]
    ">
      <p>Me llamo Fabián, tengo 28 años y llevo aproximadamente 2 años aprendiendo sobre Desarrollo Web y aplicando lo que aprendo en proyectos personales.</p>
      <p>Soy un desarrollador Full Stack orientado al frontend y con experiencia solida en el backend.</p>
      <p>Busco crear aplicaciones web que sean rápidas, escalables y fáciles de mantener.</p>
      <p>Mi idioma nativo es español, pero tambien tengo buen dominio del inglés.</p>

      <p>Estas son las tecnologias con las que trabajo:</p>
    </div> 
    <Technologies />   
</section>