---
import HeaderNav from "./components/HeaderNav.astro";
---

    <header id="header" 
    class="fixed z-[4] w-full h-100% pt-7 top-0 right-0 bg-background flex justify-end items-center p-4 transition-transform duration-300
    lg:px-[35px]">

    
        <div id="large-screen-menu" class="hidden lg:block lg:mr-7">
            <HeaderNav />
        </div>
    </header>