---
import HeaderNav from "./components/HeaderNav.astro";
---

    <header id="header" class="fixed z-[4] w-full h-100% pt-7 top-0 right-0 bg-background flex justify-between items-center p-4 transition-transform duration-300">
        <div>
        <img src=""/>
        LOGO
        </div>
        <div id="large-screen-menu" class="hidden">
            <HeaderNav />
        </div>
    </header>