<nav class="">
    <ul class="flex flex-col gap-[40px] text-[22px] items-center lg:flex-row lg:gap-[25px] lg:text-[18px]">
        <li><a id="home-link" href="#home" class="hover:text-primaryHover">Inicio</a></li>
        <li><a id="about-link" href="#about" class="hover:text-primaryHover">Sobre mí</a></li>
        <li><a id="projects-link" href="#projects" class="hover:text-primaryHover">Proyectos</a></li>
        <li><a id="education-link" href="#education" class="hover:text-primaryHover">Educación</a></li>
    </ul>
</nav>

