<div class="group flex flex-col gap-[2px] border-solid border-[1px] border-primary p-3 rounded-md hover:bg-primaryHover hover:border-primaryHover">
    <div class="w-[15px] h-[3px] right-0 rounded-sm bg-text rotate-[20deg]"></div>
    <div class="w-[15px] h-[3px] right-0 rounded-sm bg-text rotate-[340deg]"></div>
</div>
