---
import CursorShade from '../components/CursorShade/CursorShade.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="h-full w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/codeFavicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Soy Fabian Rivero, soy un Desarrollador Full-Stack con bases solidas en las tecnologias y frameworks mas relevantes de la actualidad con respecto al desarrollo front-end y back-end. Estoy comprometido a seguir mejorando mis habilidades y aprender nuevas. Estoy listo para asumir nuevos retos y crecer como profesional en el campo del desarrollo Full-Stack"/>

		<title>Portfolio de Fabian Rivero. Desarrollador y Programador Web Full-Stack</title>
	</head>
	<body id="body" class="m-0 w-full h-full overflow-x-hidden">
		<CursorShade/>
		<div id="content-container" class="bg-background text-generalText">
		<slot />
		</div>
	</body>
</html>

<script src="../components/HamburgerMenu/scripts/hamburgerMenuToggle.js"></script>
<script src="../components/HamburgerMenu/scripts/headerHide.js"></script>
<script src="../components/Projects/scripts/projectsSlide.js"></script>
<script src="../components/Education/scripts/certificationsSlide.js"></script>
<script src="../components/Projects/scripts/projectsDots.js"></script>
<script src="../components/Education/scripts/educationDots.js"></script>
